.hero__button {
    background-color: $accent-color;
    color: $primary-white-color;
    border-color: $accent-color;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;

    display: inline-block;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form__btn {
    background-color: $accent-color;
    color: $primary-white-color;
    border-color: $accent-color;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;

    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 10px 28px;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &-icon {
        fill: $primary-white-color;
        margin-left: 10px;
    }
}
.modal-form__btn {
    color: $primary-white-color;
    border-color: $accent-color;
    background-color: $accent-color;

    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;
    font-family: Roboto, sans-serif;

    border-radius: 4px;
    border: 0;
    cursor: pointer;
    padding: 10px 52px;
    margin-left: 112px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: inline-block;
}
.modal__btn-close {
    position: absolute;
    display: inline-flex;
    align-items: center;
    background-color: $primary-white-color;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}
.portfolio-buttons__list-buttons {
    background-color: $section-team-bgcolor;
    color: $primary-text-color;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0;
    border-color: $section-team-bgcolor;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $primary-white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

