.backdrop {
    position: fixed;
    background-color: $bg-color-backdrop;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin: 0 0 12px;
}
.modal-form__container {
    margin-bottom: 10px;
    position: relative;
}
.modal-form__container label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: $title-text-color;
    margin-bottom: 4px;
}
.modal-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus-visible {
        outline: none;
        border-color: $accent-color;}
    &:hover~.modal-form__icon,
    &:focus~.modal-form__icon {
        fill: $accent-color;}
}
.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea-container {
    margin-bottom: 20px;
}
.modal-form__textarea-container label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: $title-text-color;
    margin-bottom: 4px;
}
.modal-form__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: $textarea-placeholder-color;
        }
    &:focus-visible {
        outline: none;
        border-color: $accent-color;}
}

.modal-form__checkbox {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $title-text-color;
    margin-left: 8px;
}
.modal-form__checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked+.modal-form__checkbox-icon {
        background-color: $accent-color;
        border-color: $accent-color;
        background-image: url(../images/icon-check-modal.svg);
        background-size: contain;
        background-origin: border-box;}
}
.modal-form__checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__checkbox-link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: underline solid $accent-color;
    text-underline-offset: 3px;
    color: $accent-color;
    margin-left: 8px;
    border-bottom: $accent-color;
}
