.footer {
    background-color: $footer-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo-address {
    margin-right: 70px;
}
.footer-address__list .footer-address__maps {
    color: $primary-white-color;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    margin-top: 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.footer-address__maps:hover,
    &.footer-address__maps:focus {
        color: $accent-color;
    }
}
.footer-address__item .footer-address__maps {
    display: inline-block;
}
.footer-address__list .footer-address__mail {
    color: $fotter-contact-color;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    margin-top: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.footer-address__mail:hover,
    &.footer-address__mail:focus {
        color: $accent-color;
    }
}
.footer-address__item .footer-address__mail {
    display: inline-block;
    padding: 0;
}
.footer-address__list .footer-address__tel {
    color: $fotter-contact-color;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    margin-top: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.footer-address__tel:hover,
    &.footer-address__tel:focus {
        color: $accent-color;
    }
}
.footer-address__item .footer-address__tel {
    display: inline-block;
    padding: 0;
}

.footer-social {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-right: 93px;
}
.footer-social__title {
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}
.footer-social__list {
    display: flex;
}
.footer-social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-white-color;
    background-color: $footer-social-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-top: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $accent-color;}
}
.footer-social__item:not(:last-child) {
    margin-right: 10px;
}
.footer-social__icon {
    fill: $primary-white-color;
}

.footer-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.footer-form__title {
    color: $primary-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}
.footer-form__form {
    margin-top: 20px;
}
.footer-form__input {
    background-color: $footer-bg-color;
    color: $primary-white-color;
    min-width: 358px;
    min-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    &::placeholder {
        color: $fotter-contact-color;}
}
