.header {
    border-bottom: 1px solid $border-color;
}
.header-navigation__list {
    display: flex;
    margin-left: 93px;
}
.header-navigation__item {
    position: relative;
}
.header-navigation__item:not(:last-child) {
    margin-right: 50px;
}
.current::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
}
.header-navigation__link {
    display: block;
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;}
}
.header-navigation__link.current {
    color: $accent-color;
}
.header-contact__list {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header-contact__list .header-contact__item+.header-contact__item {
    margin-left: 50px;}
.header-contact__mail {
    display: inline-flex;
    color: $title-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $accent-color;}
}
.header-contact__mail-icon {
    margin-right: 10px;
    fill: currentColor;
}
.header-contact__tel {
    display: inline-flex;
    color: $title-text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:link:hover,
        &:link:focus {
            color: $accent-color;}
}
.header-contact__tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

